<div class="container"><!--Author: bhavya-->
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="tabs">
                <li class="nav-item">
                    <a class="active nav-link active" href="#Foodofferings" data-toggle="tab">Accepted Food Offerings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Foodrequests" data-toggle="tab">Food Requests</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="Foodofferings">
                <div class="row">
                        <div class="col-md-4">Sandwich</div>
                        <div class="col-md-4">40 servings</div>
                        <div class="col-md-4">
                            <a href="#a" data-toggle="collapse" aria-expanded="false" aria-controls="a">In-Progress</a>
                        </div>
                    </div>
                        <div class="collapse" id="a">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small> Donor name: Ben Baker </small><br/>
                                            <small> Edible until 17 Feb 2019 </small>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <small>Status:</small><br/>
                                            <small> Volunter (Matt Hayers) has accepted to deliver your food</small><br/>
                                            <button class="btn btn-primary" type="submit">Track</button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                            <div class="row">
                    
                                <div class="col-md-4">Salad</div>
                    
                                <div class="col-md-4">30 servings</div>
                    
                                <div class="col-md-4">
                    
                                     Completed
                    
                                </div>
                    
                            </div>
                    
                        </div>
                    
                        <br />
                    
                        <br />
                    
                        <div class="form-group">
                    
                            <div class="row">
                    
                                <div class="col-md-4">Noodles</div>
                    
                                <div class="col-md-4">50 servings</div>
                    
                                <div class="col-md-4">
                    
                                     Completed
                    
                                </div>
                    
                            </div>
                </div>
            </div>
        
    

                <div class="tab-pane" id="Foodrequests">
                    
                        <div class="form-group">
                                <div class="row">
                        
                                    <div class="col-md-4">Pizza</div>
                        
                                    <div class="col-md-4">80 servings</div>
                        
                                    <div class="col-md-4"> 14-Feb-2019</div>
                        
                                </div>
                        
                            </div>
                        
                            <br />
                        
                            <br />
                            <div class="form-group">
                                    <div class="row">
                            
                                        <div class="col-md-4">Salad</div>
                            
                                        <div class="col-md-4">10 servings</div>
                            
                                        <div class="col-md-4"> 15-Feb-2019
                            
                                             
                            
                                        </div>
                            
                                    </div>
                            
                                </div>
                            
                                <br />
                            
                                <br />
                                <div class="form-group">
                                        <div class="row">
                                
                                            <div class="col-md-4">Salad</div>
                                
                                            <div class="col-md-4">30 servings</div>
                                
                                            <div class="col-md-4"> 20-Feb-2019
                                
                                                 
                                
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                
                                    
                </div>
            </div>
        </div>
    </div>

